@model Race

<main class="container">


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">@Model.Title</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto">@Model.Description</p>
                    <ul>
                        <li>@Model.Address.City</li>
                        <li>@Model.Address.Street</li>
                        <li>@Model.RaceCategory</li>
                    </ul>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="@Model.Image"</img>
                </div>
            </div>
        </div>
    </div>
</main>
